# Configuration for alarm notifications

use_fqdn='YES'

#------------------------------------------------------------------------------
# pushover (pushover.net) global notification options

SEND_PUSHOVER="YES"
PUSHOVER_APP_TOKEN="{{ lookup('ansible.builtin.env', 'PUSHOVER_APP_TOKEN') }}"
DEFAULT_RECIPIENT_PUSHOVER="{{ lookup('ansible.builtin.env', 'DEFAULT_RECIPIENT_PUSHOVER') }}"

#------------------------------------------------------------------------------
# alerta (alerta.io) global notification options

SEND_ALERTA="YES"
ALERTA_WEBHOOK_URL="{{ lookup('ansible.builtin.env', 'ALERTA_WEBHOOK_URL') }}"
ALERTA_API_KEY="{{ lookup('ansible.builtin.env', 'ALERTA_API_KEY') }}"
DEFAULT_RECIPIENT_ALERTA="Production"

#------------------------------------------------------------------------------
# discord (discord.com) global notification options

SEND_DISCORD="NO"

# Create a webhook by following the official documentation -
# https://support.discord.com/hc/en-us/articles/228383668-Intro-to-Webhooks
DISCORD_WEBHOOK_URL=""
DEFAULT_RECIPIENT_DISCORD=""

#------------------------------------------------------------------------------
# syslog notifications

SEND_SYSLOG="NO"
SYSLOG_FACILITY='syslog'
DEFAULT_RECIPIENT_SYSLOG="netdata"

###############################################################################
# RECIPIENTS PER ROLE

# -----------------------------------------------------------------------------
# generic system alarms
# CPU, disks, network interfaces, entropy, etc

role_recipients_pushover[sysadmin]="${DEFAULT_RECIPIENT_PUSHOVER}"
role_recipients_alerta[sysadmin]="${DEFAULT_RECIPIENT_ALERTA}"
# role_recipients_discord[sysadmin]="${DEFAULT_RECIPIENT_DISCORD}"

# -----------------------------------------------------------------------------
# DNS related alarms

role_recipients_pushover[domainadmin]="${DEFAULT_RECIPIENT_PUSHOVER}"
role_recipients_alerta[domainadmin]="${DEFAULT_RECIPIENT_ALERTA}"
# role_recipients_discord[domainadmin]="${DEFAULT_RECIPIENT_DISCORD}"

# -----------------------------------------------------------------------------
# database servers alarms
# mysql, redis, memcached, postgres, etc

role_recipients_pushover[dba]="${DEFAULT_RECIPIENT_PUSHOVER}"
role_recipients_alerta[dba]="${DEFAULT_RECIPIENT_ALERTA}"
# role_recipients_discord[dba]="${DEFAULT_RECIPIENT_DISCORD}"

# -----------------------------------------------------------------------------
# web servers alarms
# apache, nginx, lighttpd, etc

role_recipients_pushover[webmaster]="${DEFAULT_RECIPIENT_PUSHOVER}"
role_recipients_alerta[webmaster]="${DEFAULT_RECIPIENT_ALERTA}"
# role_recipients_discord[webmaster]="${DEFAULT_RECIPIENT_DISCORD}"

# -----------------------------------------------------------------------------
# proxy servers alarms
# squid, etc

role_recipients_pushover[proxyadmin]="${DEFAULT_RECIPIENT_PUSHOVER}"
role_recipients_alerta[proxyadmin]="${DEFAULT_RECIPIENT_ALERTA}"
# role_recipients_discord[proxyadmin]="${DEFAULT_RECIPIENT_DISCORD}"

# -----------------------------------------------------------------------------
# peripheral devices
# UPS, photovoltaics, etc

role_recipients_pushover[sitemgr]="${DEFAULT_RECIPIENT_PUSHOVER}"
role_recipients_alerta[sitemgr]="${DEFAULT_RECIPIENT_ALERTA}"
# role_recipients_discord[sitemgr]="${DEFAULT_RECIPIENT_DISCORD}"
