[Unit]
Description=Auto-Deploy Timer
Requires=auto-deploy.service hab-supervisor.service
BindsTo=hab-supervisor.service

[Timer]
Unit=auto-deploy.service
OnActiveSec=30s
OnUnitInactiveSec=10min
RandomizedDelaySec=5min
FixedRandomDelay=true

[Install]
WantedBy=timers.target
