[Unit]
Description=Auto-Deploy Trigger
Requires=hab-supervisor.service
# can only be called by auto-deploy.timer
RefuseManualStart=true
After=network.target

[Service]
Type=oneshot
# if taking longer than 5 minutes let it fail
ExecStartPre=/usr/bin/timeout 300s /bin/bash /run/bootstrap.sh
ExecStart=/usr/bin/ansible-playbook deeep.core.{{ deeep_playbook | default("manage_device")}}

[Install]
WantedBy=multi-user.target
