#cloud-config

fqdn: {{ device_vm_hostname | default(vm_hostname) }}
manage_etc_hosts: localhost
prefer_fqdn_over_hostname: true

packages:
  - git
  - acl
  - nano
  - curl
  - jq
  - ufw
  - unzip
  - apt-transport-https
  - ca-certificates
  - gpg
  - zfsutils-linux
  - ksmtuned
package_upgrade: true
package_update: true

ssh_pwauth: false

groups:
  - users

users:
  - name: nerdnode
    gecos: NerdNode Admin Account
    groups:
      - admin
      - wheel
      - users
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    lock_passwd: true
    ssh_authorized_keys:
      - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOEu3Yh+xr+oNfcj72bcqcZNhg3D1SzeHh+BQKX4/05V anthony@nerdnode.io

write_files:
  - path: /etc/environment
    append: true
    content: |
      HAB_AUTH_TOKEN={{ ansible_env['HAB_AUTH_TOKEN'] | default(lookup('env', 'HAB_AUTH_TOKEN')) }}
  - path: /etc/systemd/system/hab-supervisor.service
    content: |
      {{ lookup('ansible.builtin.template', 'hab-supervisor.service.j2') | trim | indent( width=8 )}}
  - path: /etc/systemd/system/auto-deploy.service
    content: |
      {{ lookup('ansible.builtin.template', 'auto-deploy.service.j2') | trim | indent( width=8 ) }}
  - path: /etc/systemd/system/auto-deploy.timer
    content: |
      {{ lookup('ansible.builtin.template', 'auto-deploy.timer.j2') | trim | indent( width=8 ) }}

runcmd:
  - curl https://raw.githubusercontent.com/habitat-sh/habitat/main/components/hab/install.sh | bash
  - hab license accept
  - hab origin key download deeep-network
  - systemctl daemon-reload
  - systemctl enable hab-supervisor.service auto-deploy.timer
  - systemctl start hab-supervisor.service auto-deploy.timer
  - su - nerdnode -c 'hab pkg install deeep-network/step'
  - su - nerdnode -c 'hab svc load deeep-network/ilert-heartbeat --strategy at-once'
  - su - nerdnode -c 'hab svc load deeep-network/ansible --strategy at-once'
