[Unit]
Description=DeEEP Watchdog - installs, updates, and uninstalls Services
Wants=deeep-services-watchdog.timer

[Service]
Type=oneshot
User=nerdnode
ExecStart=/usr/bin/bash -lc "ansible-playbook depin.core.manager -e='manager_cmd=watchdog'"

[Install]
WantedBy=multi-user.target
