[exporting:global]
    enabled = yes

[prometheus_remote_write:thanos]
    enabled = yes
    remote write URL path = /receive
    data source = as_collected
    prefix = netdata
    update every = 300
    buffer on failures = 10
    timeout ms = 20000
    send names instead of ids = yes
    send charts matching = *
    send hosts matching = localhost *
