[plugins]
    enable running new plugins = yes
    check for new plugins every = 60
[db]
    mode = ram
    retention = 1200
    update every = 1
[ml]
    enabled = no
[health]
    enabled = no
[web]
	mode = {{ '127.0.0.1=dashboard^SSL=optional hostname:19997=badges' if molecule_inventory is defined else 'none' }}
