---
## copy keys over

# 1. fetch keys from netbox
# 2. copy into container

# - name: Copy keys into container
#   community.docker.docker_container_copy_into:
#     container: presearch
#     path: /blank
#     container_path: /app/node/.keys/{{ item | basename }}
#     owner_id: 0
#     group_id: 0
#     mode: 0755

## start node
# - name: Start node
#   become: true
#   community.docker.docker_container:
#     name: presearch
#     state: started

- name: Start node
  become: true
  community.docker.docker_container:
    name: presearch
    image:  presearch/node:{{ presearch_version }}
    restart_policy: unless-stopped
    detach: true
    log_driver: journald
    state: started
    volumes:
      - presearch-node-storage:/app/node
    env:
      REGISTRATION_CODE: "{{ presearch_registration_code }}"

- name: Assert
  when: "'molecule' in groups"
  block:
    - name: Get container info
      become: true
      community.docker.docker_container_info:
        name: presearch
      register: _presearch

    - name: Check container
      ansible.builtin.assert:
        that:
          - _presearch['container']['State']['Running']
          - not _presearch['container']['State']['Restarting']
          - not _presearch['container']['State']['OOMKilled']
          - not _presearch['container']['State']['Dead']
        quiet: true

    - name: Set pid
      ansible.builtin.set_fact:
        _presearch_pid: "{{ _presearch['container']['State']['Pid'] }}"
