{{ ansible_managed | comment }}

[Unit]
Description=Prometheus collector - {{ metrics_parent_role_name }}
After=network-online.target

[Service]
Type=simple
User=nerdnode
ExecStart=sudo /opt/pipx/venvs/ansible-core/bin/python3 /etc/deeep-network/collectors/{{ metrics_parent_role_name }}.py
KillSignal=SIGINT
Restart=on-failure

StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
