---
{{ role_name }}_cmd: "{{ "{{ depin_cmd | default('install') }}" }}"

## for services only
{{ role_name }}_credentials: "{{ "{{ service_credentials }}" }}"
{{ role_name }}_programs:
  - {{ role_name | replace('_', '-') }}
