[Unit]
Description=The Chef Habitat Supervisor

[Service]
EnvironmentFile=/etc/environment
ExecStart=/usr/bin/hab sup run \
  --keep-latest-packages 2 \
  --strategy at-once \
  --peer hab-bastion-1.lxd \
  --peer hab-bastion-2.lxd \
  --peer hab-bastion-3.lxd

[Install]
WantedBy=default.target
