#cloud-config

fqdn: {{ device_vm_hostname | default(vm_hostname) }}
manage_etc_hosts: localhost
prefer_fqdn_over_hostname: true

packages:
  - pipx
  - git
  - acl
  - nano
  - curl
  - jq
  - ufw
  - unzip
  - apt-transport-https
  - ca-certificates
  - gpg
package_upgrade: true
package_update: true

ssh_pwauth: false

groups:
  - docker

users:
  - name: nerdnode
    gecos: NerdNode Admin Account
    groups:
      - users
      - admin
      - wheel
      - docker
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    lock_passwd: true
    ssh_authorized_keys:
      - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOEu3Yh+xr+oNfcj72bcqcZNhg3D1SzeHh+BQKX4/05V anthony@nerdnode.io

write_files:
    - path: /etc/profile.d/pipx.sh
      append: true
      content: |
        PATH=$HOME/.local/bin:$PATH
        export PIPX_HOME=/opt/pipx
        export PIPX_BIN_DIR=/usr/local/bin
    - path: /etc/environment
      append: true
      content: |
        {{ pulumi_esc.stdout | default('') | indent( width=8 ) }}

runcmd:
  # setup pipx globablly
  - env PIPX_HOME=/opt/pipx PIPX_BIN_DIR=/usr/local/bin pipx install ansible-core
  - env PIPX_HOME=/opt/pipx PIPX_BIN_DIR=/usr/local/bin pipx inject ansible-core psutil netaddr pytz pynetbox prometheus-client
  - env PIPX_HOME=/opt/pipx PIPX_BIN_DIR=/usr/local/bin pipx install ansible-sign
  - env PIPX_HOME=/opt/pipx PIPX_BIN_DIR=/usr/local/bin pipx ensurepath
  - install -m 0755 -d /etc/apt/keyrings
  # install docker repo
  - curl -fsSL https://download.docker.com/linux/ubuntu/gpg | gpg --dearmor -o /etc/apt/keyrings/docker.gpg
  - echo "deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/docker.gpg] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable" | tee /etc/apt/sources.list.d/docker.list > /dev/null
  # install kubernetes repo
  - curl -fsSL https://pkgs.k8s.io/core:/stable:/v1.30/deb/Release.key | gpg --dearmor -o /etc/apt/keyrings/kubernetes.gpg
  - echo "deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/kubernetes.gpg] https://pkgs.k8s.io/core:/stable:/v1.30/deb/ /" | tee /etc/apt/sources.list.d/kubernetes.list > /dev/null
  # install docker and kubectl
  - apt-get update -y
  - apt-get install -y docker-ce docker-ce-cli containerd.io kubectl 
  - apt-mark hold kubectl
  # install chef habitat
  - curl https://raw.githubusercontent.com/habitat-sh/habitat/main/components/hab/install.sh | bash
  - hab license accept
  - hab origin key download deeep-network
  {% if not molecule_inventory is defined -%}
  - su - nerdnode -c "curl -s https://raw.githubusercontent.com/deeep-network/ansible_collections/main/raw/playbooks/collections_install.yml | ansible-playbook /dev/stdin"
  {% endif -%}
