#cloud-config

fqdn: {{ device_vm_hostname | default(vm_hostname) }}
manage_etc_hosts: localhost
prefer_fqdn_over_hostname: true

packages:
  - pipx
  - git
  - acl
  - nano
  - curl
  - jq
  - ufw
  - unzip
package_upgrade: true
package_update: true

ssh_pwauth: false

users:
  - name: nerdnode
    gecos: NerdNode Admin Account
    groups: users,admin,wheel
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    lock_passwd: true
    ssh_authorized_keys:
      - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOEu3Yh+xr+oNfcj72bcqcZNhg3D1SzeHh+BQKX4/05V anthony@nerdnode.io

write_files:
    - path: /etc/profile.d/pipx.sh
      append: true
      content: |
        PATH=$HOME/.local/bin:$PATH
        export PIPX_HOME=/opt/pipx
        export PIPX_BIN_DIR=/usr/local/bin
    - path: /etc/environment
      append: true
      content: |
        {{ pulumi_esc.stdout | default('') | indent( width=8 ) }}

runcmd:
  - [ env, PIPX_HOME=/opt/pipx, PIPX_BIN_DIR=/usr/local/bin, pipx, install, ansible-core ]
  - [ env, PIPX_HOME=/opt/pipx, PIPX_BIN_DIR=/usr/local/bin, pipx, inject, ansible-core, psutil, netaddr, pytz, pynetbox, prometheus-client ]
  - [ env, PIPX_HOME=/opt/pipx, PIPX_BIN_DIR=/usr/local/bin, pipx, install, ansible-sign ]
  - [ env, PIPX_HOME=/opt/pipx, PIPX_BIN_DIR=/usr/local/bin, pipx, ensurepath ]
  {% if not molecule_inventory is defined -%}
  - su - nerdnode -c "curl -s https://raw.githubusercontent.com/deeep-network/ansible_collections/main/raw/playbooks/collections_install.yml | ansible-playbook /dev/stdin"
  {% endif -%}
