[Unit]
Description=hychain service
After=network.target 

[Service]
Type=simple
WorkingDirectory=/opt/hychain/{{ hychain_version }}
ExecStart=/usr/local/bin/guardian-cli-linux guardian run {{ hychain_private_key }}
Restart=always
RuntimeMaxSec=6h

[Install]
WantedBy=multi-user.target
