[Unit]
Description=Storagechain - File Server
After=network.target ipfs-cluster-{{ storagechain_ipfs_cluster_type }}.service
Upholds=ipfs-cluster-{{ storagechain_ipfs_cluster_type }}.service
PropagatesStopTo=ipfs-cluster-{{ storagechain_ipfs_cluster_type }}.service

[Service]
User=ipfs
WorkingDirectory={{ storagechain_dir | dirname }}
ExecStart=/usr/local/bin/file-server-lin
Restart=on-failure

[Install]
WantedBy=multi-user.target
